<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    <link rel="favicon" href="{{ 'favicon.ico' }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <h1 class="header">{{ page.title }}</h1>
        <p class="header">{{ page.description }}</p>
        <ul>
            <li>
                <a class="buttons github" href="{{ site.github.owner_url }}"> GitHub Profile </a>
            </li>
            {% if page.title != 'Home' %}
            <li>
                <a class="buttons home" href="/">     Home    </a>
            </li>
            {% endif %}
            {% if page.title != 'Projects' %}
            <li>
                <a class="buttons projects" href="/projects">    Projects   </a>
            </li>
            {% endif %}
            {% if page.title != 'Code' %}
            <li>
                <a class="buttons code" href="/code">     Code    </a>
            </li>
            {% endif %}
            {% if page.title != 'About Me' %}
            <li>
                <a class="buttons about" href="/about">     About    </a>
            </li>
            {% endif %}
        </ul>
    </header>

    <section>
        {{ content }}
    </section>

    <footer>
        <p>
            <small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme (modified)
            </small>
        </p>
        <p>
            <small>Copyright © 2020<br>Chris Mabon
            </small>
        </p>
    </footer>
</div>
<!--[if !IE]>
<script>fixScale(document);</script><![endif]-->
</body>
</html>
