<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% seo %}
    <link rel="favicon" href="{{ 'favicon.ico' }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>Sausage Javelins' Live Stream</title>
</head>

<body>
<header>
    {% if page.title != "Error 404" %}
    <ul class="nav">
        <li>
            <div class="nav-entry gradient">
                <a class="nav" href="https://l.sjslive.stream/tv"><img class="nav"
                                                                                 src="assets/images/twitch-icon_sm.png"
                                                                                 alt="twitch stream"></a>
            </div>
        </li>
        <li>
            <div class="nav-entry gradient">
                <a class="nav" href="https://l.sjslive.stream/yt"><img class="nav"
                                                                                src="assets/images/youtube-icon_sm.png"
                                                                                alt="youtube channel"></a>
            </div>
        </li>
        <li>
            <div class="nav-entry gradient">
                <a class="nav" href="https://l.sjslive.stream/tr"><img class="nav"
                                                                               src="assets/images/twitter-icon_sm.png"
                                                                               alt="twitter feed"></a>
            </div>
        </li>
        <li>
            <div class="nav-entry gradient">
                <a class="nav" href="https://l.sjslive.stream/fb"><img class="nav"
                                                                                     src="assets/images/facebook-icon_sm.png"
                                                                                     alt="facebook group"></a>
            </div>
        </li>
        <li>
            <div class="nav-entry gradient">
                <a class="nav" href="https://l.sjslive.stream/st"><img class="nav"
                                                                                         src="assets/images/steam-icon_sm.png"
                                                                                         alt="steam profile"></a>
            </div>
        </li>
        <li>
            <div class="nav-entry gradient">
                <a class="nav" href="https://l.sjslive.stream/im"><img class="nav"
                                                                                  src="assets/images/imgur-icon_sm.png"
                                                                                  alt="imgur profile"></a>
            </div>
        </li>
        <li>
            <div class="nav-entry gradient">
                <a class="nav" href="https://l.sjslive.stream/ig"><img class="nav"
                                                                                     src="assets/images/instagram-icon_sm.png"
                                                                                     alt="instagram feed"></a>
            </div>
        </li>
        <li>
            <div class="nav-entry gradient">
                <a class="nav" href="https://l.sjslive.stream/sc"><img class="nav"
                                                                            src="assets/images/soundcloud-icon_sm.png"
                                                                            alt="soundcloud profile"></a>
            </div>
        </li>
        <li>
            <div class="nav-entry gradient">
                <a class="nav" href="https://l.sjslive.stream/gh"><img class="nav"
                                                                         src="assets/images/github-icon_sm.png"
                                                                         alt="github profile"></a>
            </div>
        </li>
    </ul>
    {% endif %}
</header>
<div class="wrapper">
    <div class="red-panel sticky">
        <h1 class="header">{{ page.title }}</h1>
        <p class="header">{{ page.description }}</p>
    </div>
    <br>

    <section class="red-panel">
        {{ content }}
        <br>
        <footer>
            <p class="footer"><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using theme Midnight
                (modified)</small></p>
            <p class="footer"><small>Copyright © 2020 Umbra Aeterna Labs</small></p>
        </footer>

    </section>
</div>
</body>

</html>
